<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <%if(quoteType ==="Quote"){%>
    <h3><span style="font-size:14px">You have received a Quote request from <%=customer.firstName%> <%=customer.lastName%> for the vehicle model mentioned below:</span></h3>
    <%}else if(quoteType === "Test Drive"){%>
    <h3><span style="font-size:14px">You have received a Test Drive  request from <%=customer.firstName%> <%=customer.lastName%> for the vehicle model mentioned below:</span></h3>
    <%}%>

    <p>Brand: <strong><%=brand.name%></strong></p>

    <p>CarModel: <strong><%=vehicleInfo.vehicleModel%></strong></p>

    <p>Fuel:&nbsp;<strong><%=vehicleInfo.fuelType%></strong></p>

    <p>GearBox:&nbsp;<strong><%=vehicleInfo.vehicleGearbox%></strong></p>

    <p>Trim: <strong><%=vehicleInfo.vehicleTrim%></strong></p>

    <%if(quoteType!=="Test Drive"){%>
    <p>Color:&nbsp;<strong><%=vehicleInfo.vehicleColor%></strong></p>
    <p>Kindly Reply with your best quote via your Autobox Dealer Panel with in 36 hours to avail access to customer details.</p>
    <p>To submit your best quote please login to your Dealer Panel : dealer.autoboxapp.in</p>
    <%}%>

</div>

<p>&nbsp;</p>