<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">Kindly Find Below the details of Old Trade Vehicle&nbsp;:</span></h3>

    <h3>Customer Name: <strong><%=customer.firstName%> <%=customer.lastName%></strong></h3>

    <p>Email: <strong><%=customer.email%></strong></p>

    <p>Phone Number: <strong><%=customer.phoneNumber%></strong></p>

    <p>Brand: <strong><%=brand.name%></strong></p>

    <p>CarModel: <strong><%=carModel.name%></strong></p>

    <p>Trim: <strong><%=variantName%></strong></p>

    <p>Miles(km): <strong><%=miles%></strong></p>
</div>

<p>&nbsp;</p>
