<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">You have received a Insurance Renewal Request with details mentioned below: </span></h3>

    <p>Customer: <strong><%=customer.firstName%> <%=customer.lastName%></strong></p>

    <p>Model: <strong><%=customer.phoneNumber%></strong></p>

    <p>Year Of Purchase: <strong><%=insuranceRenewal.yearOfPurchase%></strong></p>

    <p>Insurance Type: <strong><%=insuranceRenewal.typeOfInsurance%></strong></p>

    <p>No Claim Bonus: <strong><%=insuranceRenewal.noClaimBonus%></strong></p>

</div>

<p>&nbsp;</p>