<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">You have received a Pre Vehicle Booking Request from <%=customer.firstName%> <%=customer.lastName%> for the vehicle model mentioned below:</span></h3>

    <p>Contact: <strong><%=customer.phoneNumber%></strong></p>

    <p>Brand: <strong><%=brandName%></strong></p>

    <p>CarModel: <strong><%=modelName%></strong></p>

</div>

<p>&nbsp;</p>