<p style="text-align:center">&nbsp;</p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">You have received a Pre Vehicle Booking Request from <%=customer.firstName%> <%=customer.lastName%> for the vehicle model mentioned below:</span></h3>

    <p>Contact: <strong><%=customer.phoneNumber%></strong></p>

    <p>Brand: <strong><%=brand.name%></strong></p>

    <p>CarModel: <strong><%=vehicleInfo.vehicleModel%></strong></p>

    <p>Fuel:&nbsp;<strong><%=vehicleInfo.fuelType%></strong></p>

    <p>GearBox:&nbsp;<strong><%=vehicleInfo.vehicleGearbox%></strong></p>

    <p>Trim: <strong><%=vehicleInfo.vehicleTrim%></strong></p>

    <p>Color:&nbsp;<strong><%=vehicleInfo.vehicleColor%></strong></p>

</div>

<p>&nbsp;</p>