

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">&nbsp;Details :</span></h3>

    <h3> Customer Name: <strong><%= firstName %> <%=lastName%></strong></h3>

    <p>Customer Phone: <strong><%= phoneNumber %></strong></p>

    <p>Customer Blood Group: <strong><%= bloodGroup %></strong></p>

    <p>Customer Location: <strong><%=locationUrl%></strong></p>

</div>

<p>&nbsp;</p>