<p style="text-align:center"><span style="font-size:16px"><big>Your Registration is Successful</big></span></p>

<div style="background:#eee;border:1px solid #ccc;padding:5px 10px;">
    <h3><span style="font-size:14px">&nbsp;Details :</span></h3>

    <h3>Name: <strong><%= firstName %> <%=lastName%></strong></h3>

    <p>Email: <strong><%= email %></strong></p>

    <p>Phone Number: <strong><%= phoneNumber %></strong></p>

    <p>City: <strong><%=cityName%></strong></p>

    <p>Country: <%=countryName%></p>

    <p>Service Centre:&nbsp;<%=serviceCenter%></p>
</div>

<p>&nbsp;</p>